@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html,
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

:root {
  --primary-color: #e9dabd;
  --secondary-color: #343a40;
  --text-color: black;
  --background-color: gray;
  --tertiary-color: #212529;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  font-family: "Unna", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text-color);
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./img/aboutusbg.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  z-index: -1;
}

.nav-link:hover {
  color: var(--primary-color) !important;
}

.navbar {
  padding: 10px 20px;
}

.navbar-nav {
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
  z-index: 1030;
  flex-wrap: wrap;
}

nav ul li {
  padding: 0 30px 0 30px;
}

#booknow {
  border: solid 3px var(--primary-color);
  color: var(--primary-color);
  font-weight: bold;
  padding: 10px;
}

#booknow:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

#booknow h5 {
  color: #e9dabd;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
  padding: 5px 0;
}

#reservationForm {
  padding: 25px;
}

.container-fluid {
  padding: 0;
}

.socialmedia {
  color: var(--primary-color);
}

.socialmedia:hover {
  color: var(--secondary-color);
}

.text-muted {
  color: var(--tertiary-color) !important;
  background-color: var(--primary-color);
}

#aboutusimg {
  max-width: 110%;
  height: auto;
  display: block;
  margin: 0 10px 0 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: solid 3px var(--primary-color);
  margin-right: 100px;
}

#aboutusimgcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

#aboutustitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: #e9dabd;
  background-color: #212529;
  padding: 10px;
  margin-top: 80px; /* Ajusta este valor si la navbar cubre el texto */
  text-align: center;
  width: 100%;
}

#aboutustextcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  padding: 0 20px;
  max-width: 800px;
  line-height: 1.6;
  font-size: 1.2rem;
}

#aboutusvideo {
  border: solid 3px var(--primary-color);
  width: 620px;
  height: 350px;
}

@media (max-width: 375px) and (max-height: 667px) {
  #logo {
    width: 100px;
    height: 100px;
  }

  #booknow {
    font-size: 1rem;
    padding: 5px;
  }
  #booknow h5 {
    font-size: 0.8rem;
  }

  #aboutusimg {
    max-width: 80%;
    margin-right: 0;
    margin-bottom: -150px;
  }
  #aboutustitle {
    font-size: 2rem;
    margin-top: 100px;
  }

  #peoplewhotrustustitle {
    margin-top: -50px;
  }

  #aboutusvideo {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
  }

  #reservationForm {
    padding: 5px;
  }
}

@media (max-width: 430px) and (max-height: 932px) {
  #logo {
    width: 100px;
    height: 100px;
  }

  #booknow {
    font-size: 1rem;
    padding: 5px;
  }
  #booknow h5 {
    font-size: 0.8rem;
  }

  #aboutusimg {
    max-width: 90%;
    margin-right: 0;
    margin-bottom: -150px;
  }
  #aboutustitle {
    font-size: 1.8rem;
    margin-top: 120px;
  }

  #peoplewhotrustustitle {
    margin-top: -50px;
  }
  #aboutusvideo {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
  }

  #reservationForm {
    padding: 5px;
  }
}

#peoplewhotrustustitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  padding: 10px;
  width: 57%;
}

.custom-carousel {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.custom-carousel img {
  height: auto;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: solid 3px var(--primary-color);
  margin-bottom: 100px;
}

#aboutustitle2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #e9dabd;
  background-color: #212529;
  padding: 10px;
  text-align: center;
  width: 100%;
}

#footertitle {
  color: #e9dabd;
}

#footertitle:hover {
  color: blue;
}
