@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html,
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./img/aboutusbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Unna", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: black;
}

.nav-link:hover {
  color: #e9dabd !important;
}

.navbar {
  padding: 10px 20px;
}

.navbar-nav {
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
  z-index: 1030;
  flex-wrap: wrap;
}

nav ul li {
  padding: 0 30px 0 30px;
}

#booknow {
  border: solid 3px #e9dabd;
  color: #e9dabd;
  font-weight: bold;
  padding: 10px;
}

#booknow:hover {
  background-color: #e9dabd;
  color: black;
}

#booknow h5 {
  color: #e9dabd;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  color: #e9dabd;
  text-align: center;
  padding: 5px 0;
}

#reservationForm {
  padding: 25px;
}

.container-fluid {
  padding: 0;
}

.socialmedia {
  color: #e9dabd;
}

.socialmedia:hover {
  color: #343a40;
}

#aboutus {
  margin-top: 250px;
  display: flex;
  flex-direction: row;
  width: 80%;
  font-size: 25px;
  background-color: RGB(233, 218, 189, 0.8);
  padding: 20px;
  margin-bottom: 50px;
}

#aboutus h1 {
  margin-top: -100px;
  color: #e9dabd;
  font-size: 50px;
  font-weight: bold;
  border: black solid 4px;
  padding: 10px;
  background-color: black;
}

#aboutusimg {
  width: 400px;
  height: 350px;
  border: solid 4px black;
  margin-right: 10px;
}

#aboutustitle {
  font-size: 50px;
  color: #e9dabd;
  font-weight: bold;
  background-color: black;
  width: 80%;
}
#people {
  justify-content: center;
  align-items: center;
  text-align: center;
}

#people h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
}
#peopletitle {
  font-size: 50px;
  color: #e9dabd;
  font-weight: bold;
  background-color: black;
  width: 80%;
  margin-bottom: 10px;
}
@media (max-width: 375px) and (max-height: 667px) {
  #logo {
    width: 100px;
    height: 100px;
  }

  #booknow {
    font-size: 1rem;
    padding: 5px;
  }
  #booknow h5 {
    font-size: 0.8rem;
  }

  #aboutusimg {
    width: 500px;
    height: 450px;
    border: solid 4px black;
  }

  #aboutus h1 {
    font-size: 20px;
  }

  #aboutus p {
    font-size: 20px;
  }

  #aboutus {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    border: black solid 4px;
    padding: 10px;
    margin-bottom: 100px;
    background-color: RGB(233, 218, 189, 0.8);
  }

  #aboutustitle {
    margin-top: 150px;
    font-size: 40px;
    color: #e9dabd;
    font-weight: bold;
    background-color: black;
    width: 95%;
  }
}

@media (max-width: 400px) and (max-height: 900px) {
  #logo {
    width: 100px;
    height: 100px;
  }

  #booknow {
    font-size: 1rem;
    padding: 5px;
  }
  #booknow h5 {
    font-size: 0.8rem;
  }
  #aboutusimg {
    width: 500px;
    height: 400px;
    border: solid 4px black;
  }

  #aboutus {
    font-size: 20px;
  }

  #aboutus p {
    font-size: 20px;
  }

  #aboutus h1 {
    font-size: 30px;
  }

  #aboutus {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    border: black solid 4px;
    padding: 10px;
    margin-bottom: 100px;
    background-color: RGB(233, 218, 189, 0.8);
  }

  #aboutustitle {
    margin-top: 150px;
    font-size: 40px;
    color: #e9dabd;
    font-weight: bold;
    background-color: black;
    width: 95%;
  }
}
