@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html,
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: gray;
  font-family: "Unna", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.nav-link:hover {
  color: #e9dabd !important;
}

.navbar {
  padding: 10px 20px;
}

.navbar-nav {
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
  z-index: 1030;
  flex-wrap: wrap;
}

.navbar-nav img {
  width: 30px;
  height: 30px;
}

.navbar-nav img:hover {
  border: solid 2px #e9dabd;
  border-radius: 20%;
}

nav ul li {
  padding: 0 30px 0 30px;
}

#logo {
  display: flex;
  margin-left: 15px;
}

#booknow {
  border: solid 3px #e9dabd;
  color: #e9dabd;
  font-weight: bold;
  padding: 10px;
}

#booknow:hover {
  background-color: #e9dabd;
  color: black;
}

#booknow h5 {
  color: #e9dabd;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  color: #e9dabd;
  text-align: center;
  padding: 5px 0;
}

#reservationForm {
  padding: 25px;
}

.container-fluid {
  padding: 0;
}

#banner {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  margin-top: 0px;
  overflow: hidden;
}

#bannerimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
}

@media (max-width: 400px) {
  .navbar-nav .nav-item {
    padding: 5px 10px;
  }

  #textbanner h1 {
    font-size: 2rem;
  }
}

#textbanner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

#textbanner h1 {
  color: #e9dabd;
  font-size: 5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#btn-banner {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

#booknow2 {
  border: solid 4px #e9dabd;
  color: #e9dabd;
  font-weight: bold;
  font-size: 25px;
  padding: 20px;
}

#booknow2:hover {
  background-color: #e9dabd;
  color: black;
}

#booknow2 h5 {
  color: #e9dabd;
}
